
  <p>Your area has been created successfully!
  <ul>
    <li>Click in the map to test if the point is inside in your area 
    	<input type="button" value="Submit"  ng-click="search(areaid)" ></input></li>
    <li>Click here to test if your point is in any registered area 
    	<input type="button" value="Submit"  ng-click="search()" ></input></li>
    <li>Click here to see your area 
    	<input type="button" value="Submit"  ng-click="show(areaid)" ></input></li>    	
  </ul>
  
			        
  </p>
  <div id="map" style="width: 100%; height: 80%;"></div>
  


