
http://openlayers.org/en/v3.0.0/examples/draw-features.html
<script type="text/javascript">
  var poly, map;
  var markers = [];
  var path = new google.maps.MVCArray;

  function initialize() {
    var uluru = new google.maps.LatLng(-19.950299,-43.9967175);

    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center: uluru,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    });
	
    poly = new google.maps.Polygon({
      strokeWeight: 3,
      fillColor: '#5555FF'
    });
    poly.setMap(map);
    poly.setPaths(new google.maps.MVCArray([path]));

    google.maps.event.addListener(map, 'click', addPoint);
  }

  function addPoint(event) {
    path.insertAt(path.length, event.latLng);

    var marker = new google.maps.Marker({
      position: event.latLng,
      map: map,
      draggable: true
    });
    markers.push(marker);
    marker.setTitle("#" + path.length);

    google.maps.event.addListener(marker, 'click', function() {
      marker.setMap(null);
      for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
      markers.splice(i, 1);
      path.removeAt(i);
      }
    );

    google.maps.event.addListener(marker, 'dragend', function() {
      for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
      path.setAt(i, marker.getPosition());
      }
    );
  }
  
  function submitPol(){
  	path = poly.getPath();
  	if (path.length<3) {
  		alert("Please insert at least 3 points to make a area");
  		return;
  	}
  	
  	console.log(path.getArray());
  	console.log(path);
  	
  	  }
</script>

