{% include "gmappolygons/template.html" %}

{% block head %}

<script type="text/javascript">
  var poly, map;
  var markers = [];
  var path = new google.maps.MVCArray;

  function initialize() {
    var uluru = new google.maps.LatLng(-19.950299,-43.9967175);

    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center: uluru,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    });
	
    poly = new google.maps.Polygon({
      strokeWeight: 3,
      fillColor: '#5555FF'
    });
    poly.setMap(map);
    poly.setPaths(new google.maps.MVCArray([path]));

    google.maps.event.addListener(map, 'click', addPoint);
  }

  function addPoint(event) {
    path.insertAt(path.length, event.latLng);

    var marker = new google.maps.Marker({
      position: event.latLng,
      map: map,
      draggable: true
    });
    markers.push(marker);
    marker.setTitle("#" + path.length);

    google.maps.event.addListener(marker, 'click', function() {
      marker.setMap(null);
      for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
      markers.splice(i, 1);
      path.removeAt(i);
      }
    );

    google.maps.event.addListener(marker, 'dragend', function() {
      for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
      path.setAt(i, marker.getPosition());
      }
    );
  }
  
  function submitPol(){
  	path = poly.getPath();
  	if (path.length<3) {
  		alert("Please insert at least 3 points to make a area");
  		return;
  	}
  	
  	console.log(path.getArray());
  	console.log(path);
  	
  	  }
</script>
{% endblock  %}


{% block content %}

  <p>Map you service area:
  <ul>
    <li>Click on map to insert points that limits the border of your service area.</li>
    <li>Click on a point if you wish to remove it or You can also move a point to other place.</li>
    <li>When you Finish, click on submit <input type="button" value="Submit" onclick="submitPol()"></input></li>
    
  </ul>
  </p>
  <div id="map" style="width: 100%; height: 80%;"></div>
{% endblock %}

